body, html{
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.bg{
    background-image: url("img/background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color:gray;
    text-align: center;
}

p{
    color: gray;
    text-align: center;
}

.navbar{
  background-color: gray;
  opacity: 80%;
  text-align: center;
}

.nav navbar-nav{
  display: inline-block;
}

.active{
  display: inline-block;
}


#menuFooter{
    text-align: center;
    
}

footer li{
display: inline-block;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;

}

